@model IEnumerable<Ingredient>

@{
    ViewData["Title"] = "List of Restaurant ingredients";
}

<h1>Ingredients</h1>

<a asp-action="Create">Create New Ingredient</a>


<table class="table border mt-4">
    <thead>
        <tr>
            <th style="width: 70%">@Html.DisplayNameFor(model => model.Name)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Ingredient i in Model)
        {
            <tr>
                <td style="width: 70%">
                    @Html.DisplayFor(modelItem => i.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@i.IngredientId">Details</a>
                    <a asp-action="Edit" asp-route-id="@i.IngredientId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@i.IngredientId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
